{% extends "layout1.html" %}
{% block content %}
    <div class="container">
        <h1>Room</h1>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">List Room</div>
        </div>
        <!-- Table -->
        <table class="table">
                <table style="width:100%">
                    <tr>
                        <th><span style="color : red">Nomor Kamar</span></th>
                        <th><span style="color : red">Tipe Kamar</span></th>
                        <th><span style="color : red">Status</span></th>
                    </tr>
                    <tr>
                        <th>301</th>
                        <th>Deluxe</th>
                        <th>Available</th>
                    </tr>
                    <tr>
                        <th>302</th>
                        <th>Standard</th>
                        <th>Available</th>
                    </tr>
                    <tr>
                        <th>303</th>
                        <th>Deluxe</th>
                        <th>Not Available</th>
                    </tr>
                    <tr>
                        <th>304</th>
                        <th>Deluxe</th>
                        <th>Available</th>
                    </tr>
                    <tr>
                        <th>305</th>
                        <th>Superior</th>
                        <th>Available</th>
                    </tr>
                    <tr>
                        <th>306</th>
                        <th>Standard</th>
                        <th>Not available</th>
                    </tr>
                    <tr>
                        <th>307</th>
                        <th>Standard</th>
                        <th>Not available</th>
                    </tr>
                    <tr>
                        <th>308</th>
                        <th>Deluxe</th>
                        <th>Not available</th>
                    </tr>
                    <tr>
                        <th>309</th>
                        <th>Superior</th>
                        <th>Not available</th>
                    </tr>
                    <tr>
                        <th>310</th>
                        <th>Deluxe</th>
                        <th>Not available</th>
                    </tr>
            </table>
        </div>
    </div>

{% endblock content %}